.dialog-title {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-subtitle {
  margin-top: -4px;
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-line {
  white-space: normal !important;
}